.menu{
	position: relative;
	display: inline-block;
}

.menu_btn{
	
	cursor: pointer;
}

.menu_btn div{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

.bar1, .bar2, .bar3{
	width: 35px;
	height:5px;
	background-color: #333;
	margin:6px 0;
	transition:0.3s;
}

/* Rotate first bar */
.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-8px, 8px);
	transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2{
	opacity: 0;
}

/* Rotate the last bar */
.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	tansform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a{
	color: black;
	text-decoration: none;
	padding: 12px 16px;
	display: block;
}

.dropdown-content a:hover{
	background-color: #f1f1f1;
}

.show{
	display: block;
}