.menu{
	position: fixed;
	display: inline-block;
}

.menu_btn{
	cursor: pointer;
}

.menu_btn div{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

.bar1, .bar2, .bar3{
	width: 35px;
	height:5px;
	background-color: #333;
	margin:6px 0;
	transition:0.3s;
}

/* Rotate first bar */
.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-8px, 8px);
	transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2{
	opacity: 0;
}

/* Rotate the last bar */
.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	tansform: rotate(45deg) translate(-8px, -8px);
}

.sidenav{
	height:100%;
	width:0;
	position: fixed;
	z-index: 1;
	top: 50px;
	left: 0;
	background-color: #111;
	overflow-x:hidden;
	padding-top: 60px;
<<<<<<< HEAD
	transition: width 0.5s;
=======
	transition:0.5s;
>>>>>>> master
}

#mySidenav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: width 0.3s;
}

#mySidenav a:hover, .offcanvas a:hover{
	color: #f1f1f1;
	background-color: rgba(0,0,0,0.4);
}

#main{
	transition: margin-left 0.5s;
	padding: 50px 10px 10px 50px;
}

.slideshow-container{
	max-width: 1000px;
	position:relative;
	margin:auto;

}

img{
	height: auto;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	object-fit: cover;
	display:block;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 0;
	top: 50%;
	widthï¼šauto;
	margin-top: 0;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition:0.6s ease;
	border-radius: 0 3px 3px 0;
	margin-left: 6px;
}

.next{
	right: -6px;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot{
	cursor: pointer;
	height:13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover, .active{
	background-color: #717171;
}

.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration: 1.5s
	animation-name: fade;
	animation-duration:1.5s;
}

@-webkit-keyframe fade{
	from{opacity: 0.4}
	to{opacity: 1}
}

@keyframes fade {
	from{opacity: .4}
	to{opacity: 1}
}

.show{
	width: 250px;
}

.push{
	margin-left: 250px;
}

@media screen and(max-height: 450px){
	.sidenav{padding-top: 15px;}
	.sidenav a{font-size: 18px;}
}
